@model IEnumerable<BackEndCapstone.Models.Ticket>

@*@{
    ViewData["Title"] = "CompletedTickets";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsComplete, new { id = item.TicketId, @class = "toggle", data_url = Url.Action("MarkComplete", "Tickets") })
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TicketId">Assign</a> |
                    <a asp-action="Details" asp-route-id="@item.TicketId">Details</a>
                </td>
            </tr>

        }
    </tbody>
</table>*@


<div class="column">
    <p class="title is-5">Completed Tickets</p>
    <p class="subtitle">Below is a list of tickets that have been finished in the shop.</p>
    <div>
        @foreach (var item in Model)
        {
        <div class="box">
            <div>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </div>

            @Html.CheckBoxFor(modelItem => item.IsComplete, new { id = item.TicketId, @class = "toggle", data_url = Url.Action("MarkComplete", "Tickets") })
            <div>
                <a class="button is-small is-info" asp-action="Edit" asp-route-id="@item.TicketId">Assign</a>
                <a class="button is-small is-info" asp-action="Details" asp-route-id="@item.TicketId">Details</a>
            </div>
        </div>
        }
    </div>
</div>